@import "rouge-base16-dark";
@import "default_values";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: yellow; /* this is to be removed */
}

.site-header {
  background: rgba(0, 0, 0, 0.1);
  border-top: 5px solid $grey-color-dark; 
  border-bottom: 1px dashed $grey-color-light; //header;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

.site-header h1 {
  @include relative-font-size(2);
  line-height: $base-line-height;
  margin: 0 0 0 -30px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: $base-letter-spacing;
  -webkit-font-smoothing: antialiased;
}

.site-header h1:before {
  content: "./ ";
  @include relative-font-size(1.5);
}

.site-header h2 {
  @include relative-font-size(1);
  margin: 0 0 0 0;
  font-weight: 300;
  color: #666;
}

.site-title {
  @include relative-font-size(2);
  font-weight: bold;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: $base-letter-spacing;
  margin-bottom: 0;
  &,
  &:visited {
    color: $light-grey; 
  }
  &:hover {
    text-decoration: underline;
  }
}

.site-nav {
  float: right;
  .page-link {
    color: $conifer;
    margin-bottom: 10px;
    &:not(:last-child) {
        margin-right: 10px;
    }
  }
}

.page-heading {
  font-size: 30px;
}

.post-list-heading {
  font-size: 25px
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: 12px;
  color: yellow;
}

.post-link {
  display: block;
  font-size: 20px;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.5);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    @include relative-font-size(2);
  }
  h3 {
    @include relative-font-size(1.625);
  }
  h4 {
    @include relative-font-size(1.25);
  }
}

section {
  display: block;
  margin: 0 0 20px 0;
}

li {
  line-height: 1.4 ;
}

/* Main Content
*/

#main_content {
  flex: 1 0 auto;
  background-color: blue; /*remove*/
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

#main_content h1 {
  @include relative-font-size(2);
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

a:link {
  text-decoration: none;
}

a:hover, a:visited {
  color: $light-grey;
}
