@import "default_values";
@import "rouge-base16-dark";
@import "about";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 70%;
  max-width: 1300px;
  margin: 0 auto;
}
.site_image {
  width: 70%;
  max-width: 1300px;
  margin: 10px auto;
  img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    vertical-align: middle;
  }
}

.site-header {
  background: rgba(0, 0, 0, 0.1);
  border-top: 5px solid $grey-color-dark; 
  border-bottom: 1px dashed $grey-color-dark; //header;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.site-header h1 {
  @include relative-font-size(2);
  line-height: $base-line-height;
  margin: 0 0 0 -30px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: $base-letter-spacing;
  -webkit-font-smoothing: antialiased;
}

.site-header h1:before {
  content: "./ ";
  @include relative-font-size(1.5);
}

.site-header h2 {
  @include relative-font-size(1);
  margin: 0 0 0 0;
  font-weight: 300;
  color: #666;
}

.site-title {
  @include relative-font-size(3);
  font-weight: bold;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: $base-letter-spacing;
  margin-bottom: 0;
  &,
  &:visited {
    color: $light-grey; 
  }
  &:hover {
    text-decoration: underline;
   }
}

.site-nav {
  width: 70%;
  max-width: 1300px;
  margin: 0 auto 10px auto;
  .page-link {
    color: $conifer;
    margin-bottom: 10px;
    &:not(:last-child) {
        margin-right: 10px;
    }
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: 2px;
  }
}

.post-meta {
  color: yellow;
  @include relative-font-size(0.8);
}

.post-link {
  /* display: block;*/
  @include relative-font-size(1.5);
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.5);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    @include relative-font-size(2);
  }
  h3 {
    @include relative-font-size(1.625);
  }
  h4 {
    @include relative-font-size(1.25);
  }
}

.pageNavigation {
    @include relative-font-size(0.8);
    margin-bottom: $spacing-unit;
    width: auto;
    overflow: hidden;
    display: inline;
}

.pageNavigation a {
    float: left;
    margin: 2em 0;
}

.pageNavigation .previous{
    float: right;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

li {
  line-height: 1;
  margin-bottom: 10px;
}

.cf {
  width: 70%;
  margin: 0 auto;
  img {
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
  li {
    margin-bottom: 5px 0;
  }
}
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

/* Main Content
*/

#main_content {
  flex: 1 0 auto;
  -webkit-font-smoothing: antialiased;
  h1 { @include relative-font-size(2); 
       margin-bottom: 0;
  }
  h2 { 
      @include relative-font-size(1.875);
      color: $silver-chalice;
      text-align: center; 
  }
  h3 { @include relative-font-size(1.75); 
       margin-bottom: 0;
  }
  h4 { @include relative-font-size(1.5); 
       margin-bottom: 0;
  }
  h5 {
    text-transform: uppercase;
    @include relative-font-size(1.25);
    margin: 0 0 5px 0;
  }
  h6 {
    @include relative-font-size(1.15);
    margin: 0 0 5px 0;
  }
  a {
    //text-decoration: underline;
    color: $gulf-stream;
    &:hover {
        text-decoration: underline;
    }
  }
}

.pagination {
  width: 100%;
  @include relative-font-size(0.8);
}

.prevlink {
  float: left;
  width: 50%;
}

.nextlink {
  float: right;
  width: 50%;
  text-align: right;
}

dt {
  font-style: italic;
  font-weight: bold;
}

.post-list li {
  list-style-image:url('../images/bullet.png');
}

a.more {
  float: right;
  color: yellow;
  text-align: right;
  @include relative-font-size(0.8);
}

a.more:before {
  content: '[';
}

a.more:after {
  content: '.. ]';
}

/* Archive */
#archive {
  h2 {
    text-align: left;
  }
  h3 {
    @include relative-font-size(1.2);
    color: $silver-chalice; 
  }
  ul {
    list-style: none;
    margin: 0;
  }
}
.taglist li {
  @include relative-font-size(1);
}
.tag-cloud {
  max-width: 800px;
  margin-bottom: 40px;
}

.tag-cloud li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 25px;
}

.tag-cloud a {
  text-decoration: none;
  @include relative-font-size(1);
  background: $dove-grey;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
}
.tag-cloud a:hover {
    color: $rajah;
}
.tag-cloud a:visited {
  color: $rajah;
}

.return {
  display: none;
}

.h3:target + .taglist .return {
  display:block;
}

.return a {
	@include relative-font-size(1);
	text-decoration: none;
	color: white;
}
.return a:before {
	content: '\25b2\00a0';
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #ffffff;
  text-shadow: 0 0 2px rgba(104, 182, 255, 0.5);
}

a:link {
  text-decoration: none;
}

a:hover, a:visited {
  text-decoration: underline;
  color: $light-grey; 
}

/* footer */
.site-footer {
  border-top: 1px solid $grey-color-dark;
  background: $grey-color-light;
  padding: $spacing-unit 0;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: -25px;
  color: $grey-color;
  text-align: center;
}

.wrapper {
  h5 { @include relative-font-size(0.8);
       color: $silver-chalice;
       color: $grey-color;
       text-align: center;
   }
}

/* sidebar */
aside {
  padding: 0 1em 0;
}

aside h3 {
  @include relative-font-size(1);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

aside p {
  margin-left: 1em;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 1em;
}

aside li {
  margin-bottom: 0.5em;
}

.social {
	display: flex;
	justify-content: space-around;
}
.social a {
	text-indent: -9000px;
	display: inline-block;
	width: 32px;
	height: 32px;
}

/* pages */
#page {
  h2 { text-align: left; }
}

// Contact me
.follow {
  list-style-type: none;
}

.fa {
    font-size:30px;
    padding: 10px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color:white;
}

.fa-github {
    background: #101010;
    color:white;
}

.fa-linkedin {
    background: #007bb5;
    color:white;
}

.fa-instagram {
    background: #125688;
    color:white;
}

.fa-twitter {
    background: #55acee;
    color:white;
}
/*li.github {
    //background: url(../images/github.svg) no-repeat left top;
    height: 32px;
    padding-left: 44px;
    padding-top: 8px;
}
li.fb {
	background: url(../images/facebook.svg) no-repeat left top;
    height: 32px;
    padding: 8px 0 0 44px;
}
li.linked {
	background: url(../images/linkedin.svg) no-repeat left top;
    height: 32px;
    padding: 8px 0 0 44px;
}
li.insta {
    background: url(../images/insta.svg) no-repeat left top;
    height: 32px;
    padding: 8px 0 0 44px;
}
li.twitter {
	background: url(../images/twitter.svg) no-repeat left top;
    height: 32px;
    padding: 8px 0 0 44px;
}*/

/* --------------------------------------------------
   Smaller screen styles
-----------------------------------------------------*/
@media only screen and (max-width: 950px) {

.right, .left {
	float: none;
}
/* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/
nav {
	background: none;
	margin-bottom: 1em;
}
nav ul {
	display: none;
}
nav li {
	background: #42659A;
    width: 30%;
	margin-bottom: .2em;
}
nav li:hover {
	background: #333;
}
nav li a {
	@include relative-font-size(1);
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 0.2em;
	padding: .5em 0;
	display: block;
	text-align: center;
	max-width: 100%;
	width:100%;
}
nav li a:hover {
	color: white;
}
/*toggle check styles*/
.toggle-label {
	display: block;
	background: #42659A;
	font: 0.8em 'Oswald', 'Helvetica Narrow', Arial, sans-serif;
	text-align: center;
	letter-spacing: 0.1em;
	color: white;
	padding: .5em 0;
	text-decoration: none;
	width: 5em;
	cursor: pointer;
	}
#menu-toggle {
	display: none;
}
#menu-toggle:checked + .toggle-label {
	background: #4d4d4d;
}
#menu-toggle:checked + .toggle-label span {
	display: none;
}
#menu-toggle:checked + .toggle-label:before {
	content: 'close';
}
#menu-toggle:checked ~ ul {
	display: block;
}

pre {
	font-size: 1.2em;
	width: 90%;
}

dd{
	padding: 0;
	margin:0;
	margin-bottom: 1em;
}
}

/* for larger size screen */

@media only screen and (min-width: 951px) {
nav {
    background: none;
    margin-bottom: 2em;
}
#menu-toggle, .toggle-label {
        display: none;
    }
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 0;
}
nav li {
    display: inline-block;
}
nav li a {
    font: 1em 'Oswald', 'Helvetica Narrow', Arial, sans-serif;
    color: white;
    background: $grey-color-dark;
    margin-right: 0.5em;
    padding: .25em 1em;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
}
nav li a:hover {
    color: white;
    background: #333;
}

aside {
  float: left;                                                       
  background-color: black;
  width: 30%;
  max-width: 250px;
  padding-top: 1em;
  padding-left: 2.5%;
}

#main_content {
  width: 100%;
}
}
